<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stocks.dao.datas.TDayDataDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="stocks.entity.datas.TDayData" >
	<result column="gname" property="gname"/>
	<result column="gcode" property="gcode"/>
	<result column="increper" property="increper"/>
	<result column="increase" property="increase"/>
	<result column="todaystartpri" property="todaystartpri"/>
	<result column="yestodendpri" property="yestodendpri"/>
	<result column="nowpri" property="nowpri"/>
	<result column="todaymax" property="todaymax"/>
	<result column="todaymin" property="todaymin"/>
	<result column="tranumber" property="tranumber"/>
	<result column="traamount" property="traamount"/>
	<result column="date" property="date"/>
	<result column="ema12" property="ema12"/>
	<result column="ema26" property="ema26"/>
	<result column="diff" property="diff"/>
	<result column="dea" property="dea"/>
	<result column="macd" property="macd"/>
	<result column="totalmoney" property="totalmoney"/>
	<result column="circulatemoney" property="circulatemoney"/>
	<result column="ratio" property="ratio"/>
	<result column="lyr" property="lyr"/>
	<result column="ttm" property="ttm"/>
	<result column="trate" property="trate"/>
	<result column="swing" property="swing"/>
	<result column="toppri" property="toppri"/>
	<result column="downpri" property="downpri"/>
	<result column="gtype" property="gtype"/>
</resultMap>
       
<!-- t_day_data table all fields -->
<sql id="Base_Column_List" >
	 gname,gcode,increper,increase,todaystartpri,yestodendpri,nowpri,todaymax,todaymin,tranumber,traamount,date,ema12,ema26,diff,dea,macd,totalmoney,circulatemoney,ratio,lyr,ttm,trate,swing,toppri,downpri,gtype
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<!-- 涨幅范围.start -->
	<if test="(increpermin != null and increpermin != '') or increpermin == 0" >
	    and increper >= #{increpermin}
	</if>
	<if test="(increpermax != null and increpermax != '') or increpermax == 0" >
	    and increper &lt;= #{increpermax}
	</if>
	<!-- 涨幅范围.end -->
	<!-- 当前价格范围.start -->
	<if test="(nowprimin != null and nowprimin != '') or nowprimin == 0" >
	    and nowpri >= #{nowprimin}
	</if>
	<if test="(nowprimax != null and nowprimax != '') or nowprimax == 0" >
	    and nowpri &lt;= #{nowprimax}
	</if>
	<!-- 当前价格范围.end -->
	<!-- 换手率范围.start -->
	<if test="(tratemin != null and tratemin != '') or tratemin == 0" >
	    and trate >= #{tratemin}
	</if>
	<if test="(tratemax != null and tratemax != '') or tratemax == 0" >
	    and trate &lt;= #{tratemax}
	</if>
	<!-- 换手率范围.end -->
	<!-- 振幅范围.start -->
	<if test="(swingmin != null and swingmin != '') or swingmin == 0" >
	    and swing >= #{swingmin}
	</if>
	<if test="(swingmax != null and swingmax != '') or swingmax == 0" >
	    and swing &lt;= #{swingmax}
	</if>
	<!-- 振幅范围.end -->
	<!-- 成交量范围.start -->
	<if test="(tranumbermin != null and tranumbermin != '') or tranumbermin == 0" >
	    and tranumber >= #{tranumbermin}
	</if>
	<if test="(tranumbermax != null and tranumbermax != '') or tranumbermax == 0" >
	    and tranumber &lt;= #{tranumbermax}
	</if>
	<!-- 成交量范围.end -->
	<!-- 成交金额范围.start -->
	<if test="(traamountmin != null and traamountmin != '') or traamountmin == 0" >
	    and traamount >= #{traamountmin}
	</if>
	<if test="(traamountmax != null and traamountmax != '') or traamountmax == 0" >
	    and traamount &lt;= #{traamountmax}
	</if>
	<!-- 成交金额范围.end -->
	<!-- 日期范围.start -->
	<if test="datemin != null and datemin != ''" >
	    and date >= #{datemin}
	</if>
	<if test="datemax != null and datemax != ''" >
	    and date &lt;= #{datemax}
	</if>
	<!-- 日期范围.end -->
	<!-- macd范围.start -->
	<if test="(macdmin != null and macdmin != '') or macdmin == 0" >
	    and macd >= #{macdmin}
	</if>
	<if test="(macdmax != null and macdmax != '') or macdmax == 0" >
	    and macd &lt;= #{macdmax}
	</if>
	<!-- macd范围.end -->
	<if test="gname != null and gname != ''" >
	    and gname like CONCAT('%',#{gname},'%')
	</if>
	<if test="gcode != null and gcode != ''" >
	    and gcode like CONCAT('%',#{gcode},'%')
	</if>
	<if test="increase != null and increase != ''" >
	    and increase =  #{increase}
	</if>
	<if test="todaystartpri != null and todaystartpri != ''" >
	    and todaystartpri =  #{todaystartpri}
	</if>
	<if test="yestodendpri != null and yestodendpri != ''" >
	    and yestodendpri =  #{yestodendpri}
	</if>
	<if test="nowpri != null and nowpri != ''" >
	    and nowpri =  #{nowpri}
	</if>
	<if test="todaymax != null and todaymax != ''" >
	    and todaymax =  #{todaymax}
	</if>
	<if test="todaymin != null and todaymin != ''" >
	    and todaymin =  #{todaymin}
	</if>
	<if test="date != null and date != ''" >
	    and date =  #{date}
	</if>
	<if test="ema12 != null and ema12 != ''" >
	    and ema12 =  #{ema12}
	</if>
	<if test="ema26 != null and ema26 != ''" >
	    and ema26 =  #{ema26}
	</if>
	<if test="diff != null and diff != ''" >
	    and diff =  #{diff}
	</if>
	<if test="dea != null and dea != ''" >
	    and dea =  #{dea}
	</if>
	<if test="macd != null and macd != ''" >
	    and macd =  #{macd}
	</if>
	<if test="totalmoney != null and totalmoney != ''" >
	    and totalmoney =  #{totalmoney}
	</if>
	<if test="(circulatemoney != null and circulatemoney != '') or circulatemoney == 0" >
	    and circulatemoney &lt;= #{circulatemoney}
	</if>
	<if test="(ratio != null and ratio != '') or ratio == 0" >
	    and ratio >=  #{ratio}
	</if>
	<if test="(lyr != null and lyr != '') or lyr == 0" >
	    and lyr &lt;=  #{lyr}
	</if>
	<if test="(ttm != null and ttm != '') or ttm == 0" >
	    and ttm &lt;= #{ttm}
	</if>
	<if test="toppri != null and toppri != ''" >
	    and toppri =  #{toppri}
	</if>
	<if test="downpri != null and downpri != ''" >
	    and downpri =  #{downpri}
	</if>
	<if test="gtype != null and gtype != ''" >
		<choose>
			<when test="gtype == 12">
				and (gtype = 1 or gtype = 2)
			</when>
			<otherwise>
				and gtype =  #{gtype}
			</otherwise>
		</choose>
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
  insert into t_day_data(gname,gcode,increper,increase,todaystartpri,yestodendpri,nowpri,todaymax,todaymin,tranumber,traamount,date,ema12,ema26,diff,dea,macd,totalmoney,circulatemoney,ratio,lyr,ttm,trate,swing,toppri,downpri,gtype)
 values(#{gname},#{gcode},#{increper},#{increase},#{todaystartpri},#{yestodendpri},#{nowpri},#{todaymax},#{todaymin},#{tranumber},#{traamount},#{date},#{ema12},#{ema26},#{diff},#{dea},#{macd},#{totalmoney},#{circulatemoney},#{ratio},#{lyr},#{ttm},#{trate},#{swing},#{toppri},#{downpri},#{gtype})
</insert>

<insert id="addBatch" useGeneratedKeys="true" parameterType="java.util.List">  
    insert into t_day_data (gname,gcode,increper,increase,todaystartpri,yestodendpri,nowpri,todaymax,todaymin,tranumber,traamount,date,ema12,ema26,diff,dea,macd,totalmoney,circulatemoney,ratio,lyr,ttm,trate,swing,toppri,downpri,gtype)   
    values  
    <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.gname},#{item.gcode},#{item.increper},#{item.increase},#{item.todaystartpri},#{item.yestodendpri},#{item.nowpri},#{item.todaymax},#{item.todaymin},#{item.tranumber},#{item.traamount},#{item.date},#{item.ema12},#{item.ema26},#{item.diff},#{item.dea},#{item.macd},#{item.totalmoney},#{item.circulatemoney},#{item.ratio},#{item.lyr},#{item.ttm},#{item.trate},#{item.swing},#{item.toppri},#{item.downpri},#{item.gtype})
    </foreach>  
</insert>  

<!-- 根据gcode,date，修改记录-->  
 <update id="update" parameterType="Object" >
  update t_day_data set gname=#{gname},increper=#{increper},increase=#{increase},todaystartpri=#{todaystartpri},yestodendpri=#{yestodendpri},nowpri=#{nowpri},todaymax=#{todaymax},todaymin=#{todaymin},tranumber=#{tranumber},traamount=#{traamount},ema12=#{ema12},ema26=#{ema26},diff=#{diff},dea=#{dea},macd=#{macd},totalmoney=#{totalmoney},circulatemoney=#{circulatemoney},ratio=#{ratio},lyr=#{lyr},ttm=#{ttm},trate=#{trate},swing=#{swing},toppri=#{toppri},downpri=#{downpri},gtype=#{gtype} where gcode=#{gcode} and date=#{date}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update t_day_data set 
	<trim  suffixOverrides="," >
	<if test="gname != null  ">
		gname=#{gname},
	</if>
	<if test="increper != null  ">
		increper=#{increper},
	</if>
	<if test="increase != null  ">
		increase=#{increase},
	</if>
	<if test="todaystartpri != null  ">
		todaystartpri=#{todaystartpri},
	</if>
	<if test="yestodendpri != null  ">
		yestodendpri=#{yestodendpri},
	</if>
	<if test="nowpri != null  ">
		nowpri=#{nowpri},
	</if>
	<if test="todaymax != null  ">
		todaymax=#{todaymax},
	</if>
	<if test="todaymin != null  ">
		todaymin=#{todaymin},
	</if>
	<if test="tranumber != null  ">
		tranumber=#{tranumber},
	</if>
	<if test="traamount != null  ">
		traamount=#{traamount},
	</if>
	<if test="ema12 != null" >
	    ema12=#{ema12},
	</if>
	<if test="ema26 != null" >
	    ema26=#{ema26},
	</if>
	<if test="diff != null" >
	    diff=#{diff},
	</if>
	<if test="dea != null" >
	    dea=#{dea},
	</if>
	<if test="macd != null" >
	    macd=#{macd},
	</if>
	<if test="totalmoney != null" >
	    totalmoney=#{totalmoney},
	</if>
	<if test="circulatemoney != null" >
	   circulatemoney=#{circulatemoney},
	</if>
	<if test="ratio != null" >
	    ratio=#{ratio},
	</if>
	<if test="lyr != null" >
	    lyr=#{lyr},
	</if>
	<if test="ttm != null" >
	    ttm=#{ttm},
	</if>
	<if test="trate != null" >
	    trate=#{trate},
	</if>
	<if test="swing != null" >
	    swing=#{swing},
	</if>
	<if test="toppri != null" >
	    toppri=#{toppri},
	</if>
	<if test="downpri != null" >
	    downpri=#{downpri},
	</if>
	<if test="gtype != null" >
	    gtype=#{gtype},
	</if>
	</trim> where gcode=#{gcode} and date=#{date}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from t_day_data where gcode = #{gcode} and date=#{date}
</delete>
 
<!-- 根据gcode/date查询 每日每分钟数据 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from t_day_data where gcode = #{gcode} and date=#{date}
</select>

<!-- 每日每分钟数据 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from t_day_data 
	<include refid="Example_Where_Clause"/>
</select>






<!-- 删除记录 -->
<delete id="deleteAllByForm" parameterType="stocks.entity.datas.TDayData">
	delete 	 from t_day_data
	<include refid="Example_Where_Clause"/>
</delete>
<!-- 每日每分钟数据 列表总数-->
<select id="queryCountByForm" resultType="java.lang.Integer"  parameterType="stocks.entity.datas.TDayData">
	select count(1) from t_day_data 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询每日数据列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from t_day_data 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
  	
<!-- 查询每日数据列表 -->
<select id="queryAllSearch" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from t_day_data 
	<include refid="Example_Where_Clause"/>
	order by gcode asc,date desc
</select>

<!-- 查询最新一条数据 -->
<select id="findNewForm" resultMap="BaseResultMap"  parameterType="java.lang.String">
	select 
	<include refid="Base_Column_List"/>
	from t_day_data 
	where gcode = #{gcode}
	order by date desc
	limit 1
</select>
 <!-- EXCEL导入根据gcode和date修改记录，只修改只不为空的字段 -->
<update id="updateByGcodeAndDate" parameterType="Object" >
	update t_day_data set 
	<trim  suffixOverrides="," >
	<if test="increper != null  ">
		increper=#{increper},
	</if>
	<if test="increase != null  ">
		increase=#{increase},
	</if>
	<if test="todaystartpri != null  ">
		todaystartpri=#{todaystartpri},
	</if>
	<if test="yestodendpri != null  ">
		yestodendpri=#{yestodendpri},
	</if>
	<if test="nowpri != null  ">
		nowpri=#{nowpri},
	</if>
	<if test="todaymax != null  ">
		todaymax=#{todaymax},
	</if>
	<if test="todaymin != null  ">
		todaymin=#{todaymin},
	</if>
	<if test="tranumber != null  ">
		tranumber=#{tranumber},
	</if>
	<if test="traamount != null  ">
		traamount=#{traamount},
	</if>
	<if test="ema12 != null" >
	    ema12=#{ema12},
	</if>
	<if test="ema26 != null" >
	    ema26=#{ema26},
	</if>
	<if test="diff != null" >
	    diff=#{diff},
	</if>
	<if test="dea != null" >
	    dea=#{dea},
	</if>
	<if test="macd != null" >
	    macd=#{macd},
	</if>
	<if test="totalmoney != null" >
	    totalmoney=#{totalmoney},
	</if>
	<if test="circulatemoney != null" >
	   circulatemoney=#{circulatemoney},
	</if>
	<if test="ratio != null" >
	    ratio=#{ratio},
	</if>
	<if test="lyr != null" >
	    lyr=#{lyr},
	</if>
	<if test="ttm != null" >
	    ttm=#{ttm},
	</if>
	<if test="trate != null" >
	    trate=#{trate},
	</if>
	<if test="swing != null" >
	    swing=#{swing},
	</if>
	<if test="toppri != null" >
	    toppri=#{toppri},
	</if>
	<if test="downpri != null" >
	    downpri=#{downpri},
	</if>
	<if test="gtype != null" >
	    gtype=#{gtype},
	</if>
	</trim> where gcode=#{gcode} and date=#{date}
</update>

<!--根据gcode查询220日数据列表 -->
<select id="queryByListEcharts" resultMap="BaseResultMap"  parameterType="java.lang.String">
	select todaystartpri,nowpri,todaymax,todaymin,tranumber,traamount,date,diff,dea,macd,trate,swing
	from t_day_data where gcode = #{gcode} limit 220
</select>
</mapper>   
