<?xml version="1.0" encoding="UTF-8"?>
<beans
xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<!-- 定义数据源 -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://localhost/db_tfboys</value>
		</property>
		<property name="username">
			<value>root</value>
		</property>
		<property name="password">
			<value>fY*98possw0rd</value><!-- 阿里云服务器内部 localhost root fY*98possw0rd  外部：106.14.44.126:3306  flycity   Possw0rd823@230-->
		</property>
	</bean>
	
	<!-- 定义SessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource"/>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">false</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/sanqing/po/User.hbm.xml</value>
				<value>com/sanqing/po/Pic.hbm.xml</value>
				<value>com/sanqing/po/Tag.hbm.xml</value>
				<value>com/sanqing/po/PicDetail.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 定义HibernateTemplate -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	
	<!-- user -->
	<bean id="userAction" class="com.sanqing.action.UserAction" scope="prototype">
		<property name="userService">
			<ref bean="userService"/>
		</property>
	</bean>
	<!-- 配置DAO组件 -->
	<bean id="userDAO" class="com.sanqing.dao.UserDAOImpl">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate"/>
		</property>
	</bean>
	
	<!-- 配置业务逻辑组件 -->
	<bean id="userService" class="com.sanqing.service.UserServiceImpl">
		<property name="userDAO">
			<ref bean="userDAO"/>
		</property>
	</bean>
	
	<!-- 配置LoginAction -->
	<bean id="loginAction" class="com.sanqing.action.Login" scope="prototype">
		<property name="userService">
			<ref bean="userService"/>
		</property>
	</bean>
	
	<!--  App 配置 -->
	<bean id="picAppAction" class="com.sanqing.action.PicAppAction" scope="prototype">
		<property name="picService">
			<ref bean="picService"/>
		</property>
		<property name="picDetailService">
			<ref bean="picDetailService"/>
		</property>
		<property name="tagService">
			<ref bean="tagService"/>
		</property>
	</bean>
	<!--  配置 -->
	<bean id="picAction" class="com.sanqing.action.PicAction" scope="prototype">
		<property name="picService">
			<ref bean="picService"/>
		</property>
		<property name="picDetailService">
			<ref bean="picDetailService"/>
		</property>
		<property name="tagService">
			<ref bean="tagService"/>
		</property>
	</bean>
	<bean id="picService" class="com.sanqing.service.PicServiceImpl">
		<property name="picDAO">
			<ref bean="picDAO"/>
		</property>
	</bean>
	<bean id="picDAO" class="com.sanqing.dao.PicDAOImpl">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate"/>
		</property>
	</bean>
	
	<!-- 后台 配置 -->
	<bean id="backAction" class="com.sanqing.action.BackAction" scope="prototype">
		<property name="backService">
			<ref bean="backService"/>
		</property>
	</bean>
	<bean id="backService" class="com.sanqing.service.BackServiceImpl">
		<property name="picDAO">
			<ref bean="picDAO"/>
		</property>
		<property name="picDetailDAO">
			<ref bean="picDetailDAO"/>
		</property>
		<property name="tagDAO">
			<ref bean="tagDAO"/>
		</property>
		<property name="userDAO">
			<ref bean="userDAO"/>
		</property>
	</bean>
	
	<!-- tag配置 -->
	<bean id="tagAction" class="com.sanqing.action.TagAction" scope="prototype">
		<property name="tagService">
			<ref bean="tagService"/>
		</property>
		<property name="picService">
			<ref bean="picService"/>
		</property>
	</bean>
	<bean id="tagService" class="com.sanqing.service.TagServiceImpl">
		<property name="tagDAO">
			<ref bean="tagDAO"/>
		</property>
	</bean>
	<bean id="tagDAO" class="com.sanqing.dao.TagDAOImpl">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate"/>
		</property>
	</bean>
	
	<!-- picDetail配置 -->
	<bean id="picDetailAction" class="com.sanqing.action.PicDetailAction" scope="prototype">
		<property name="picDetailService">
			<ref bean="picDetailService"/>
		</property>
	</bean>
	<bean id="picDetailService" class="com.sanqing.service.PicDetailServiceImpl">
		<property name="picDetailDAO">
			<ref bean="picDetailDAO"/>
		</property>
	</bean>
	<bean id="picDetailDAO" class="com.sanqing.dao.PicDetailDAOImpl">
		<property name="hibernateTemplate">
			<ref bean="hibernateTemplate"/>
		</property>
	</bean>
	
</beans>