<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stocks.dao.company.TBusinessPlateDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="stocks.entity.company.TBusinessPlate" >
	<result column="id" property="id"/>
	<result column="platename" property="platename"/>
	<result column="plateintro" property="plateintro"/>
	<result column="pid" property="pid"/>
</resultMap>
       
<!-- t_business_plate table all fields -->
<sql id="Base_Column_List" >
	 id,platename,plateintro,pid
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null and id != ''" >
	    and id =  #{id}
	</if>
	<if test="platename != null and platename != ''" >
	    and platename like CONCAT('%',#{platename},'%')
	</if>
	<if test="plateintro != null and plateintro != ''" >
	    and plateintro like CONCAT('%',#{plateintro},'%')
	</if>
	<if test="pid != null and pid != ''" >
	    and pid =  #{pid}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey>
  insert into t_business_plate(id,platename,plateintro,pid)
 values(#{id},#{platename},#{plateintro},#{pid})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update t_business_plate set platename=#{platename},plateintro=#{plateintro},pid=#{pid} where id=#{id}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update t_business_plate set 
	<trim  suffixOverrides="," >
	<if test="platename != null  ">
		platename=#{platename},
	</if>
	<if test="plateintro != null  ">
		plateintro=#{plateintro},
	</if>
	<if test="pid != null  ">
		pid=#{pid},
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from t_business_plate where id = #{id}
</delete>
 
<!-- 根据id查询 证监会行业板块 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from t_business_plate where id = #{id}
</select>

<!-- 证监会行业板块 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from t_business_plate 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询证监会行业板块列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/><!-- 此方法在上面 -->
	from t_business_plate 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
  	
<!-- 查询证监会行业所有 -->
<select id="queryAll" resultMap="BaseResultMap">
	select 
	<include refid="Base_Column_List"/><!-- 此方法在上面 -->
	from t_business_plate 
	order by pid asc,id asc
</select>
  	
</mapper>   
