<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stocks.dao.company.TCompanyDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="stocks.entity.company.TCompany" >
	<result column="id" property="id"/>
	<result column="gname" property="gname"/>
	<result column="gcode" property="gcode"/>
	<result column="cname" property="cname"/>
	<result column="cename" property="cename"/>
	<result column="iacnum" property="iacnum"/>
	<result column="legaler" property="legaler"/>
	<result column="province" property="province"/>
	<result column="city" property="city"/>
	<result column="cpnames" property="cpnames"/>
	<result column="bpdoorname" property="bpdoorname"/>
	<result column="bpbigname" property="bpbigname"/>
	<result column="bpdc1name" property="bpdc1name"/>
	<result column="bpdc2name" property="bpdc2name"/>
	<result column="bpdc3name" property="bpdc3name"/>
	<result column="staffnum" property="staffnum"/>
	<result column="staffsalary" property="staffsalary"/>
	<result column="instockdate" property="instockdate"/>
	<result column="startprice" property="startprice"/>
	<result column="maincompany" property="maincompany"/>
	<result column="builddate" property="builddate"/>
	<result column="registermoney" property="registermoney"/>
	<result column="ctype" property="ctype"/>
	<result column="corg" property="corg"/>
	<result column="cphone" property="cphone"/>
	<result column="cfax" property="cfax"/>
	<result column="cemail" property="cemail"/>
	<result column="cweb" property="cweb"/>
	<result column="cpostcode" property="cpostcode"/>
	<result column="cnewsweb" property="cnewsweb"/>
	<result column="registeraddress" property="registeraddress"/>
	<result column="coffice" property="coffice"/>
	<result column="cintro" property="cintro"/>
	<result column="busscope" property="busscope"/>
	<result column="gtype" property="gtype"/>
	<result column="state" property="state"/>
</resultMap>

<!-- t_company table all fields -->
<sql id="Base_Column_List" >
	 id,gname,gcode,cname,cename,iacnum,legaler,province,city,cpnames,bpdoorname,bpbigname,bpdc1name,bpdc2name,bpdc3name,staffnum,staffsalary,instockdate,startprice,maincompany,builddate,registermoney,ctype,corg,cphone,cfax,cemail,cweb,cpostcode,cnewsweb,registeraddress,coffice,cintro,busscope,gtype,state
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null and id != ''" >
	    and id =  #{id}
	</if>
	<if test="gname != null and gname != ''" >
	    and gname like CONCAT('%',#{gname},'%')
	</if>
	<if test="gcode != null and gcode != ''" >
	    and gcode like CONCAT('%',#{gcode},'%')
	</if>
	<if test="cname != null and cname != ''" >
	    and cname like CONCAT('%',#{cname},'%')
	</if>
	<if test="cename != null and cename != ''" >
	    and cename like CONCAT('%',#{cename},'%')
	</if>
	<if test="iacnum != null and iacnum != ''" >
	    and iacnum like CONCAT('%',#{iacnum},'%')
	</if>
	<if test="legaler != null and legaler != ''" >
	    and legaler like CONCAT('%',#{legaler},'%')
	</if>
	<if test="province != null and province != ''" >
	    and province like CONCAT('%',#{province},'%')
	</if>
	<if test="city != null and city != ''" >
	    and city like CONCAT('%',#{city},'%')
	</if>
	<if test="cpnames != null and cpnames != ''" >
	    and cpnames like CONCAT('%',#{cpnames},'%')
	</if>
	<if test="bpdoorname != null and bpdoorname != ''" >
	    and bpdoorname like CONCAT('%',#{bpdoorname},'%')
	</if>
	<if test="bpbigname != null and bpbigname != ''" >
	    and bpbigname like CONCAT('%',#{bpbigname},'%')
	</if>
	<if test="bpdc1name != null and bpdc1name != ''" >
	    and bpdc1name like CONCAT('%',#{bpdc1name},'%')
	</if>
	<if test="bpdc2name != null and bpdc2name != ''" >
	    and bpdc2name like CONCAT('%',#{bpdc2name},'%')
	</if>
	<if test="bpdc3name != null and bpdc3name != ''" >
	    and bpdc3name like CONCAT('%',#{bpdc3name},'%')
	</if>
	<if test="staffnum != null and staffnum != ''" >
	    and staffnum >  #{staffnum}
	</if>
	<if test="staffsalary != null and staffsalary != ''" >
	    and staffsalary > #{staffsalary}
	</if>
	<if test="instockdate != null and instockdate != ''" >
	    and instockdate =  #{instockdate}
	</if>
	<if test="startprice != null and startprice != ''" >
	    and startprice =  #{startprice}
	</if>
	<if test="maincompany != null and maincompany != ''" >
	    and maincompany =  #{maincompany}
	</if>
	<if test="builddate != null and builddate != ''" >
	    and builddate =  #{builddate}
	</if>
	<if test="registermoney != null and registermoney != ''" >
	    and registermoney =  #{registermoney}
	</if>
	<if test="ctype != null and ctype != ''" >
	    and ctype =  #{ctype}
	</if>
	<if test="corg != null and corg != ''" >
	    and corg =  #{corg}
	</if>
	<if test="cphone != null and cphone != ''" >
	    and cphone =  #{cphone}
	</if>
	<if test="cfax != null and cfax != ''" >
	    and cfax =  #{cfax}
	</if>
	<if test="cemail != null and cemail != ''" >
	    and cemail =  #{cemail}
	</if>
	<if test="cweb != null and cweb != ''" >
	    and cweb =  #{cweb}
	</if>
	<if test="cpostcode != null and cpostcode != ''" >
	    and cpostcode =  #{cpostcode}
	</if>
	<if test="cnewsweb != null and cnewsweb != ''" >
	    and cnewsweb =  #{cnewsweb}
	</if>
	<if test="registeraddress != null and registeraddress != ''" >
	    and registeraddress =  #{registeraddress}
	</if>
	<if test="coffice != null and coffice != ''" >
	    and coffice =  #{coffice}
	</if>
	<if test="cintro != null and cintro != ''" >
	    and cintro =  #{cintro}
	</if>
	<if test="busscope != null and busscope != ''" >
	    and busscope =  #{busscope}
	</if>
	<if test="gtype != null and gtype != ''" >
	    and gtype =  #{gtype}
	</if>
	<if test="state != null and state != ''" >
	    and state =  #{state}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey>
  insert into t_company(id,gname,gcode,cname,cename,iacnum,legaler,province,city,cpnames,bpdoorname,bpbigname,bpdc1name,bpdc2name,bpdc3name,staffnum,staffsalary,instockdate,startprice,maincompany,builddate,registermoney,ctype,corg,cphone,cfax,cemail,cweb,cpostcode,cnewsweb,registeraddress,coffice,cintro,busscope,gtype,state)
 values(#{id},#{gname},#{gcode},#{cname},#{cename},#{iacnum},#{legaler},#{province},#{city},#{cpnames},#{bpdoorname},#{bpbigname},#{bpdc1name},#{bpdc2name},#{bpdc3name},#{staffnum},#{staffsalary},#{instockdate},#{startprice},#{maincompany},#{builddate},#{registermoney},#{ctype},#{corg},#{cphone},#{cfax},#{cemail},#{cweb},#{cpostcode},#{cnewsweb},#{registeraddress},#{coffice},#{cintro},#{busscope},#{gtype},#{state})
</insert>

<!-- 插入记录 -->
<insert id="addForm" parameterType="stocks.entity.company.TCompany" >
  insert into t_company(gname,gcode,cname,cename,iacnum,legaler,province,city,cpnames,bpdoorname,bpbigname,bpdc1name,bpdc2name,bpdc3name,staffnum,staffsalary,instockdate,startprice,maincompany,builddate,registermoney,ctype,corg,cphone,cfax,cemail,cweb,cpostcode,cnewsweb,registeraddress,coffice,cintro,busscope,gtype,state)
 values(#{gname},#{gcode},#{cname},#{cename},#{iacnum},#{legaler},#{province},#{city},#{cpnames},#{bpdoorname},#{bpbigname},#{bpdc1name},#{bpdc2name},#{bpdc3name},#{staffnum},#{staffsalary},#{instockdate},#{startprice},#{maincompany},#{builddate},#{registermoney},#{ctype},#{corg},#{cphone},#{cfax},#{cemail},#{cweb},#{cpostcode},#{cnewsweb},#{registeraddress},#{coffice},#{cintro},#{busscope},#{gtype},#{state})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update t_company set gname=#{gname},gcode=#{gcode},cname=#{cname},cename=#{cename},iacnum=#{iacnum},legaler=#{legaler},province=#{province},city=#{city},cpnames=#{cpnames},bpdoorname=#{bpdoorname},bpbigname=#{bpbigname},bpdc1name=#{bpdc1name},bpdc2name=#{bpdc2name},bpdc3name=#{bpdc3name},staffnum=#{staffnum},staffsalary=#{staffsalary},instockdate=#{instockdate},startprice=#{startprice},maincompany=#{maincompany},builddate=#{builddate},registermoney=#{registermoney},ctype=#{ctype},corg=#{corg},cphone=#{cphone},cfax=#{cfax},cemail=#{cemail},cweb=#{cweb},cpostcode=#{cpostcode},cnewsweb=#{cnewsweb},registeraddress=#{registeraddress},coffice=#{coffice},cintro=#{cintro},busscope=#{busscope},gtype=#{gtype},state=#{state} where id=#{id}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update t_company set 
	<trim  suffixOverrides="," >
	<if test="gname != null  ">
		gname=#{gname},
	</if>
	<if test="gcode != null  ">
		gcode=#{gcode},
	</if>
	<if test="cname != null  ">
		cname=#{cname},
	</if>
	<if test="cename != null  ">
		cename=#{cename},
	</if>
	<if test="iacnum != null  ">
		iacnum=#{iacnum},
	</if>
	<if test="legaler != null  ">
		legaler=#{legaler},
	</if>
	<if test="province != null  ">
		province=#{province},
	</if>
	<if test="city != null  ">
		city=#{city},
	</if>
	<if test="cpnames != null  ">
		cpnames=#{cpnames},
	</if>
	<if test="bpdoorname != null  ">
		bpdoorname=#{bpdoorname},
	</if>
	<if test="bpbigname != null  ">
		bpbigname=#{bpbigname},
	</if>
	<if test="bpdc1name != null  ">
		bpdc1name=#{bpdc1name},
	</if>
	<if test="bpdc2name != null  ">
		bpdc2name=#{bpdc2name},
	</if>
	<if test="bpdc3name != null  ">
		bpdc3name=#{bpdc3name},
	</if>
	<if test="staffnum != null  ">
		staffnum=#{staffnum},
	</if>
	<if test="staffsalary != null  ">
		staffsalary=#{staffsalary},
	</if>
	<if test="instockdate != null  ">
		instockdate=#{instockdate},
	</if>
	<if test="startprice != null  ">
		startprice=#{startprice},
	</if>
	<if test="maincompany != null  ">
		maincompany=#{maincompany},
	</if>
	<if test="builddate != null  ">
		builddate=#{builddate},
	</if>
	<if test="registermoney != null  ">
		registermoney=#{registermoney},
	</if>
	<if test="ctype != null  ">
		ctype=#{ctype},
	</if>
	<if test="corg != null  ">
		corg=#{corg},
	</if>
	<if test="cphone != null  ">
		cphone=#{cphone},
	</if>
	<if test="cfax != null  ">
		cfax=#{cfax},
	</if>
	<if test="cemail != null  ">
		cemail=#{cemail},
	</if>
	<if test="cweb != null  ">
		cweb=#{cweb},
	</if>
	<if test="cpostcode != null  ">
		cpostcode=#{cpostcode},
	</if>
	<if test="cnewsweb != null  ">
		cnewsweb=#{cnewsweb},
	</if>
	<if test="registeraddress != null  ">
		registeraddress=#{registeraddress},
	</if>
	<if test="coffice != null  ">
		coffice=#{coffice},
	</if>
	<if test="cintro != null  ">
		cintro=#{cintro},
	</if>
	<if test="busscope != null  ">
		busscope=#{busscope},
	</if>
	<if test="gtype != null  ">
		gtype=#{gtype},
	</if>
	<if test="state != null  ">
		state=#{state},
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from t_company where id = #{id}
</delete>
 
<!-- 根据id查询 公司信息 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from t_company where id = #{id}
</select>
 
<!-- 根据gcode查询 公司信息 -->
<select id="queryByGcode"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from t_company where gcode = #{gcode}
</select>

<!-- 公司信息 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from t_company 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询公司信息列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from t_company 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
 
<!--  EXCEL导入批量插入数据 -->
 <insert id="addBatch" useGeneratedKeys="true" parameterType="java.util.List">  
    <!-- <selectKey resultType="long" keyProperty="id" order="AFTER">  
        SELECT  
        LAST_INSERT_ID()  
    </selectKey> -->  
    insert into t_company (gname,gcode,cname,cename,iacnum,legaler,province,city,cpnames,bpdoorname,bpbigname,bpdc1name,bpdc2name,bpdc3name,staffnum,staffsalary,instockdate,startprice,maincompany,builddate,registermoney,corg,cphone,cfax,cemail,cweb,cpostcode,registeraddress,coffice,cintro,busscope,gtype,state)   
    values  
    <foreach collection="list" item="item" index="index" separator="," >  
(#{item.gname},#{item.gcode},#{item.cname},#{item.cename},#{item.iacnum},#{item.legaler},#{item.province},#{item.city},#{item.cpnames},#{item.bpdoorname},#{item.bpbigname},#{item.bpdc1name},#{item.bpdc2name},
#{item.bpdc3name},#{item.staffnum},#{item.staffsalary},#{item.instockdate},#{item.startprice},#{item.maincompany},#{item.builddate},
#{item.registermoney},#{item.corg},#{item.cphone},#{item.cfax},#{item.cemail},#{item.cweb},#{item.cpostcode},#{item.registeraddress},#{item.coffice},#{item.cintro},#{item.busscope},#{item.gtype},#{item.state})
    </foreach>  
</insert>

 <!-- 根据gcode修改记录，只修改只不为空的字段 -->
<update id="updateByGcode" parameterType="stocks.entity.company.TCompany" >
	update t_company set 
	<trim  suffixOverrides="," >
	<if test="gname != null  ">
		gname=#{gname},
	</if>
	<if test="cname != null  ">
		cname=#{cname},
	</if>
	<if test="cename != null  ">
		cename=#{cename},
	</if>
	<if test="iacnum != null  ">
		iacnum=#{iacnum},
	</if>
	<if test="legaler != null  ">
		legaler=#{legaler},
	</if>
	<if test="province != null  ">
		province=#{province},
	</if>
	<if test="city != null  ">
		city=#{city},
	</if>
	<if test="cpnames != null  ">
		cpnames=#{cpnames},
	</if>
	<if test="bpdoorname != null  ">
		bpdoorname=#{bpdoorname},
	</if>
	<if test="bpbigname != null  ">
		bpbigname=#{bpbigname},
	</if>
	<if test="bpdc1name != null  ">
		bpdc1name=#{bpdc1name},
	</if>
	<if test="bpdc2name != null  ">
		bpdc2name=#{bpdc2name},
	</if>
	<if test="bpdc3name != null  ">
		bpdc3name=#{bpdc3name},
	</if>
	<if test="staffnum != null  ">
		staffnum=#{staffnum},
	</if>
	<if test="staffsalary != null  ">
		staffsalary=#{staffsalary},
	</if>
	<if test="instockdate != null  ">
		instockdate=#{instockdate},
	</if>
	<if test="startprice != null  ">
		startprice=#{startprice},
	</if>
	<if test="maincompany != null  ">
		maincompany=#{maincompany},
	</if>
	<if test="builddate != null  ">
		builddate=#{builddate},
	</if>
	<if test="registermoney != null  ">
		registermoney=#{registermoney},
	</if>
	<if test="ctype != null  ">
		ctype=#{ctype},
	</if>
	<if test="corg != null  ">
		corg=#{corg},
	</if>
	<if test="cphone != null  ">
		cphone=#{cphone},
	</if>
	<if test="cfax != null  ">
		cfax=#{cfax},
	</if>
	<if test="cemail != null  ">
		cemail=#{cemail},
	</if>
	<if test="cweb != null  ">
		cweb=#{cweb},
	</if>
	<if test="cpostcode != null  ">
		cpostcode=#{cpostcode},
	</if>
	<if test="cnewsweb != null  ">
		cnewsweb=#{cnewsweb},
	</if>
	<if test="registeraddress != null  ">
		registeraddress=#{registeraddress},
	</if>
	<if test="coffice != null  ">
		coffice=#{coffice},
	</if>
	<if test="cintro != null  ">
		cintro=#{cintro},
	</if>
	<if test="busscope != null  ">
		busscope=#{busscope},
	</if>
	<if test="gtype != null  ">
		gtype=#{gtype},
	</if>
	<if test="state != null  ">
		state=#{state},
	</if>
	</trim> where gcode=#{gcode}
</update>

</mapper>   
