<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stocks.dao.company.TNewsDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="stocks.entity.company.TNews" >
	<result column="id" property="id"/>
	<result column="newstitle" property="newstitle"/>
	<result column="newscontent" property="newscontent"/>
	<result column="bpids" property="bpids"/>
	<result column="bpnames" property="bpnames"/>
	<result column="cpids" property="cpids"/>
	<result column="cpnames" property="cpnames"/>
	<result column="rpids" property="rpids"/>
	<result column="rpnames" property="rpnames"/>
	<result column="createtime" property="createtime"/>
	<result column="publishtime" property="publishtime"/>
	<result column="publisher" property="publisher"/>
	<result column="starttime" property="starttime"/>
	<result column="endtime" property="endtime"/>
	<result column="gnames" property="gnames"/>
	<result column="gcodes" property="gcodes"/>
	<result column="important" property="important"/>
	<result column="newstype" property="newstype"/>
</resultMap>
       
<!-- t_news table all fields -->
<sql id="Base_Column_List" >
	 id,newstitle,newscontent,bpids,bpnames,cpids,cpnames,rpids,rpnames,createtime,publishtime,publisher,starttime,endtime,gnames,gcodes,important,newstype
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null and id != ''" >
	    and id =  #{id}
	</if>
	<if test="newstitle != null and newstitle != ''" >
	    and newstitle =  #{newstitle}
	</if>
	<if test="newscontent != null and newscontent != ''" >
	    and newscontent =  #{newscontent}
	</if>
	<if test="bpids != null and bpids != ''" >
	    and bpids =  #{bpids}
	</if>
	<if test="bpnames != null and bpnames != ''" >
	    and bpnames =  #{bpnames}
	</if>
	<if test="cpids != null and cpids != ''" >
	    and cpids =  #{cpids}
	</if>
	<if test="cpnames != null and cpnames != ''" >
	    and cpnames =  #{cpnames}
	</if>
	<if test="rpids != null and rpids != ''" >
	    and rpids =  #{rpids}
	</if>
	<if test="rpnames != null and rpnames != ''" >
	    and rpnames =  #{rpnames}
	</if>
	<if test="createtime != null and createtime != ''" >
	    and createtime =  #{createtime}
	</if>
	<if test="publishtime != null and publishtime != ''" >
	    and publishtime =  #{publishtime}
	</if>
	<if test="publisher != null and publisher != ''" >
	    and publisher =  #{publisher}
	</if>
	<if test="starttime != null and starttime != ''" >
	    and starttime =  #{starttime}
	</if>
	<if test="endtime != null and endtime != ''" >
	    and endtime =  #{endtime}
	</if>
	<if test="gnames != null and gnames != ''" >
	    and gnames =  #{gnames}
	</if>
	<if test="gcodes != null and gcodes != ''" >
	    and gcodes =  #{gcodes}
	</if>
	<if test="important != null and important != ''" >
	    and important =  #{important}
	</if>
	<if test="newstype != null and newstype != ''" >
	    and newstype =  #{newstype}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey>
  insert into t_news(id,newstitle,newscontent,bpids,bpnames,cpids,cpnames,rpids,rpnames,createtime,publishtime,publisher,starttime,endtime,gnames,gcodes,important,newstype)
 values(#{id},#{newstitle},#{newscontent},#{bpids},#{bpnames},#{cpids},#{cpnames},#{rpids},#{rpnames},#{createtime},#{publishtime},#{publisher},#{starttime},#{endtime},#{gnames},#{gcodes},#{important},#{newstype})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update t_news set newstitle=#{newstitle},newscontent=#{newscontent},bpids=#{bpids},bpnames=#{bpnames},cpids=#{cpids},cpnames=#{cpnames},rpids=#{rpids},rpnames=#{rpnames},publishtime=#{publishtime},publisher=#{publisher},starttime=#{starttime},endtime=#{endtime},gnames=#{gnames},gcodes=#{gcodes},important=#{important},newstype=#{newstype} where id=#{id}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update t_news set 
	<trim  suffixOverrides="," >
	<if test="newstitle != null  ">
		newstitle=#{newstitle},
	</if>
	<if test="newscontent != null  ">
		newscontent=#{newscontent},
	</if>
	<if test="bpids != null  ">
		bpids=#{bpids},
	</if>
	<if test="bpnames != null  ">
		bpnames=#{bpnames},
	</if>
	<if test="cpids != null  ">
		cpids=#{cpids},
	</if>
	<if test="cpnames != null  ">
		cpnames=#{cpnames},
	</if>
	<if test="rpids != null  ">
		rpids=#{rpids},
	</if>
	<if test="rpnames != null  ">
		rpnames=#{rpnames},
	</if>
	<if test="createtime != null  ">
		createtime=#{createtime},
	</if>
	<if test="publishtime != null  ">
		publishtime=#{publishtime},
	</if>
	<if test="publisher != null  ">
		publisher=#{publisher},
	</if>
	<if test="starttime != null  ">
		starttime=#{starttime},
	</if>
	<if test="endtime != null  ">
		endtime=#{endtime},
	</if>
	<if test="gnames != null  ">
		gnames=#{gnames},
	</if>
	<if test="gcodes != null  ">
		gcodes=#{gcodes},
	</if>
	<if test="important != null  ">
		important=#{important},
	</if>
	<if test="newstype != null  ">
		newstype=#{newstype},
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from t_news where id = #{id}
</delete>
 
<!-- 根据id查询 股市新闻消息 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from t_news where id = #{id}
</select>

<!-- 股市新闻消息 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from t_news 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询股市新闻消息列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from t_news 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
  	
</mapper>   
