<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="stocks.dao.company.TRegionPlateDao" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="stocks.entity.company.TRegionPlate" >
	<result column="id" property="id"/>
	<result column="aname" property="aname"/>
	<result column="pid" property="pid"/>
</resultMap>
       
<!-- t_region_plate table all fields -->
<sql id="Base_Column_List" >
	 id,aname,pid
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
	<if test="id != null and id != ''" >
	    and id =  #{id}
	</if>
	<if test="aname != null and aname != ''" >
	    and aname like CONCAT('%',#{aname},'%')
	</if>
	<if test="pid != null and pid != ''" >
	    and pid =  #{pid}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="add" parameterType="Object" >
<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	SELECT LAST_INSERT_ID()
  </selectKey>
  insert into t_region_plate(id,aname,pid)
 values(#{id},#{aname},#{pid})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="Object" >
  update t_region_plate set aname=#{aname},pid=#{pid} where id=#{id}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="Object" >
	update t_region_plate set 
	<trim  suffixOverrides="," >
	<if test="aname != null  ">
		aname=#{aname},
	</if>
	<if test="pid != null  ">
		pid=#{pid},
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from t_region_plate where id = #{id}
</delete>
 
<!-- 根据id查询 每日每分钟数据沪市A股 -->
<select id="queryById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from t_region_plate where id = #{id}
</select>

<!-- 每日每分钟数据沪市A股 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from t_region_plate 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询每日每分钟数据沪市A股列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from t_region_plate 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>
  	
<!-- 查询概念板块所有列表 -->
<select id="queryAll" resultMap="BaseResultMap">
	select 
	<include refid="Base_Column_List"/>
	from t_region_plate 
</select>


</mapper>   
